<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        {% if topicParaType is not empty %}
          <div class="p-home__topics">
            <div class="u-flex u-flex_mg0 u-flex_mg0_s" style="height: 480px; width: 100%; display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: stretch;">
              {{ topicParaType }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>