<a class="p-home__topic u-flex4 u-flex12_s" href="{{ thumbLink.0['#url'] }}" style="background-image: url({{ file_url(thumbimg['#items'][0].entity.uri.value) }}); background-position: center center; background-size: cover; display: flex; align-items: center; flex-basis: 33.33%; flex-grow: 1; color: #fff; transition: opacity .4s; position: relative;">
  {{ thumbtitle }}
  {{ thumbtxt }}
</a>